.square {
    width: 50px;
    height: 50px;
    margin: 3px;
    border: 1px #ccc solid;
    border-radius: 3px;
    float: left;
    cursor: pointer;
    text-align: center;
    span {
        font-size: 40px;
        text-align: center;
        line-height: 1.2;
    }
    &.O span {
        color: #0808c1;
    }
    &.X span {
        color: #e00707;
    }
}